body > .container {
  padding: 60px 15px 0;
}

.table-hover tbody tr {
  transition: background 150ms ease-out;
}

.gallery img {
  margin-bottom: 1rem;
  border-radius: 3px;
}

.lum-lightbox {
  z-index: 1040;
}

.lum-close-button {
  cursor: pointer;
  right: 12px;
  top: 12px;
  transition: 160ms opacity ease-out;
}

.lum-lightbox-inner .lum-lightbox-caption {
  background: rgba(0, 0, 0, 0.50);
  padding: .5rem 1rem;
  border-radius: 3px;
  margin-top: 1rem;
}