img {
  max-width: 100%;
  height: auto;
}

.navbar {
  background-color: #343a40;
}

.navbar .btn {
  color: rgba(255, 255, 255, 0.5);
  height: 2.4rem;
  padding: 0.5rem 0.4rem;
}

.navbar .btn:hover {
  color: rgba(255, 255, 255, 0.75);
}

.navbar .btn.active {
  color: #ffffff;
}

.navbar .navbar-section {
  justify-content: center;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body > .container {
  padding: 60px 15px;
}

.table-hover tbody tr {
  transition: background 150ms ease-out;
}

.table-hover thead [data-sort-method="number"],
.table-hover tbody .cell-number {
  text-align: right;
}

.table-hover tbody .cell-number {
  border: 1px solid #ccc;
}

.table.table-hover tbody tr:hover .cell-number {
  font-weight: bold;
}

.gallery {
  margin: 1rem auto;
}

.gallery img {
  margin-bottom: 1rem;
  border-radius: 3px;
}

.lum-close-button {
  cursor: pointer;
  right: 12px;
  top: 12px;
  transition: 160ms opacity ease-out;
}

.lum-lightbox-image-wrapper {
  position: relative;
}

.lum-lightbox-inner .lum-lightbox-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 3px;
  line-height: 1;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
